<div class="col-md-3 col-sm-4 col-xs-12 sideBar">
  <%= render 'shared/product_categories', taxonomies: taxonomies %>
  <%= render 'shared/search_by_price' %>
  <%= render 'shared/search_by_color' %>
  <%= render 'shared/search_by_size' %>
</div>