<% provide(:title, @taxon.name) %>
<%= render 'shared/light_section' %>
<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix productsContent">
  <div class="container">
    <div class="row">
      <%= render 'side_bar', taxonomies: @taxonomies %>
      <%= render 'grid', products: @products %>
    </div>
  </div>
</section>
<%= render 'shared/partners_logo' %>

