<% provide(:title, "ALL PRODUCTS") %>
<%= render 'shared/light_section' %>
<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix productsContent">
  <div class="container">
    <div class="row">
      <%= render 'potepan/categories/side_bar', taxonomies: @taxonomies %>
      <%= render 'potepan/categories/grid', products: @products %>
    </div>
  </div>
</section>
<%= render 'shared/partners_logo' %>