<% provide(:title, @product.name) %>
<%= render 'shared/light_section'%>
<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix">
  <div class="container">
    <div class="row singleProduct">
      <div class="col-xs-12">
        <div class="media">
          <%= render 'product_images', { images: @product.images } %>
          <%= render 'product_information', { product: @product, product_properties: @product_properties } %>
        </div>
      </div>
    </div>
　  <%= render 'related_products', related_products: @related_products %>
  </div>
</section>
