<!-- LIGHT SECTION -->
<section class="lightSection clearfix">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="owl-carousel partnersLogoSlider">
          <% partners_logo = ["partner-01.png", "partner-02.png", "partner-03.png", "partner-04.png", "partner-05.png"] %>
          <% partners_logo.each do |logo| %>
            <div class="slide">
              <div class="partnersLogo clearfix">
                <%= partners_image_tag(logo) %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>