<div class="panel panel-default">
  <div class="panel-heading">商品カテゴリー</div>
  <div class="panel-body">
    <div class="collapse navbar-collapse navbar-ex1-collapse navbar-side-collapse">
      <ul class="nav navbar-nav side-nav">
        <li>
          <%= link_to "ALL PRODUCTS", potepan_products_path %>
        </li>
        <% taxonomies.each do |taxonomy| %>
          <li>
            <a href="javascript:;" data-toggle="collapse" data-target="#taxonomy_<%= taxonomy.id %>"><%= taxonomy.name %><i class="fa fa-plus"></i></a>
            <ul id="taxonomy_<%= taxonomy.id %>" class="collapse collapseItem">
              <% taxonomy.root.leaves.each do |leaf| %>
                <% if leaf.products.count > 0 %>
                  <li>
                    <%= link_to potepan_category_path(leaf.id) do %>
                      <i class="fa fa-caret-right" aria-hidden="true"></i><%= leaf.name %><span>(<%= leaf.products.count %>)</span></a>
                    <% end %>
                  </li>
                <% end %>
              <% end %>
            </ul>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>